.room-id- {
  margin: 0;
}
.roberto-salsalni,
.room-id-container {
  position: absolute;
  top: 33px;
  left: 821px;
  display: inline-block;
  width: 262px;
  height: 36px;
}
.roberto-salsalni {
  top: 71px;
  left: 1083px;
  width: 156px;
  height: 30px;
}
.anita-dick,
.attendees,
.ben-dover,
.holden-hiscock,
.restaurants,
.waiting-area {
  position: absolute;
  top: 140px;
  left: 1083px;
  display: inline-block;
  width: 156px;
  height: 30px;
}
.attendees,
.ben-dover,
.holden-hiscock,
.restaurants,
.waiting-area {
  top: 479px;
}
.attendees,
.ben-dover,
.restaurants,
.waiting-area {
  top: 168px;
  left: 147px;
}
.attendees,
.ben-dover,
.waiting-area {
  top: 540px;
  left: 1083px;
}
.attendees,
.waiting-area {
  top: 19px;
  width: 139px;
}
.attendees {
  top: 418px;
}
.start {
  position: relative;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.cancel-wrapper,
.start-wrapper {
  position: absolute;
  top: 645px;
  border-radius: var(--br-11xl);
  width: 137px;
  height: 37px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  color: var(--color-white);
}
.start-wrapper {
  left: 562px;
  background-color: var(--color-black);
}
.cancel-wrapper {
  left: 375px;
  background-color: rgba(117, 102, 102, 0.42);
}
.desktop-lobby-host-view-child {
  position: absolute;
  top: -0.5px;
  left: 1063.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 1611px;
}
.desktop-lobby-host-view-item {
  position: absolute;
  top: 396px;
  left: 1065px;
  max-height: 100%;
  width: 375px;
  object-fit: cover;
}
.desktop-lobby-host-view-inner {
  position: absolute;
  top: 239px;
  left: 145px;
  width: 757px;
  height: 396px;
  object-fit: cover;
}
.chews-wisely {
  position: absolute;
  top: 2px;
  left: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.logo {
  position: absolute;
  top: 5px;
  left: 0;
  border-radius: 10px;
  background-color: var(--color-gray-100);
  width: 200px;
  height: 30px;
  text-align: center;
  font-size: var(--font-size-xl);
}
.display-room-id {
  position: absolute;
  top: 9px;
  left: 878px;
  color: #6d6c6c;
  display: inline-block;
  width: 126px;
  height: 25px;
}
.header-child {
  position: absolute;
  height: 100%;
  width: 5.38%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 94.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.home {
  position: relative;
  letter-spacing: 0.15em;
  font-weight: 500;
}
.home-item {
  width: 155px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.66);
}
.about {
  position: relative;
  letter-spacing: 0.15em;
}
.about-item {
  width: 141px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.about1 {
  position: relative;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
}
.about-item1,
.navigation-menu {
  flex-shrink: 0;
  flex-direction: row;
}
.about-item1 {
  width: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.navigation-menu {
  top: 0;
  left: 685px;
  width: 489px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-gray-100);
}
.donate,
.home1,
.navigation-menu {
  position: absolute;
}
.home1 {
  top: 11px;
  left: 18px;
  letter-spacing: 0.15em;
}
.donate {
  top: 4px;
  left: 1114.5px;
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-100);
  width: 100px;
  height: 45px;
  display: none;
}
.header1 {
  position: relative;
  width: 1174px;
  height: 40px;
  z-index: 0;
}
.header {
  position: absolute;
  top: 17px;
  left: -134px;
  width: 1516px;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.desktop-lobby-host-view-child1,
.rectangle-div {
  position: absolute;
  top: 134px;
  left: 1329px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 34px;
  height: 34px;
}
.desktop-lobby-host-view-child1 {
  left: 1391px;
}
.line-div {
  position: absolute;
  top: 122.5px;
  left: 1376.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 57px;
}
.ggcheck-r-icon,
.vector-icon {
  position: absolute;
  top: 135px;
  left: 1330px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon {
  left: 1392px;
}
.desktop-lobby-host-view-child2,
.desktop-lobby-host-view-child3 {
  position: absolute;
  top: 228px;
  left: 944px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 28px;
  height: 26px;
}
.desktop-lobby-host-view-child3 {
  left: 995px;
}
.desktop-lobby-host-view-child4 {
  position: absolute;
  top: 218.5px;
  left: 983.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 45px;
}
.ggcheck-r-icon1,
.vector-icon1 {
  position: absolute;
  top: 228px;
  left: 945px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon1 {
  left: 996px;
}
.desktop-lobby-host-view-child5,
.desktop-lobby-host-view-child6 {
  position: absolute;
  top: 448px;
  left: 944px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 28px;
  height: 26px;
}
.desktop-lobby-host-view-child6 {
  left: 995px;
}
.desktop-lobby-host-view-child7 {
  position: absolute;
  top: 438.5px;
  left: 983.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 45px;
}
.ggcheck-r-icon2,
.vector-icon2 {
  position: absolute;
  top: 448px;
  left: 945px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon2 {
  left: 996px;
}
.desktop-lobby-host-view-child8,
.desktop-lobby-host-view-child9 {
  position: absolute;
  top: 492px;
  left: 944px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 28px;
  height: 26px;
}
.desktop-lobby-host-view-child9 {
  left: 995px;
}
.desktop-lobby-host-view-child10 {
  position: absolute;
  top: 482.5px;
  left: 983.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 45px;
}
.ggcheck-r-icon3,
.vector-icon3 {
  position: absolute;
  top: 492px;
  left: 945px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon3 {
  left: 996px;
}
.desktop-lobby-host-view-child11,
.desktop-lobby-host-view-child12 {
  position: absolute;
  top: 536px;
  left: 944px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 28px;
  height: 26px;
}
.desktop-lobby-host-view-child12 {
  left: 995px;
}
.desktop-lobby-host-view-child13 {
  position: absolute;
  top: 526.5px;
  left: 983.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 45px;
}
.ggcheck-r-icon4,
.vector-icon4 {
  position: absolute;
  top: 536px;
  left: 945px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon4 {
  left: 996px;
}
.desktop-lobby-host-view-child14,
.desktop-lobby-host-view-child15 {
  position: absolute;
  top: 580px;
  left: 944px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 28px;
  height: 26px;
}
.desktop-lobby-host-view-child15 {
  left: 995px;
}
.desktop-lobby-host-view-child16 {
  position: absolute;
  top: 570.5px;
  left: 983.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 45px;
}
.ggcheck-r-icon5,
.vector-icon5 {
  position: absolute;
  top: 580px;
  left: 945px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon5 {
  left: 996px;
}
.desktop-lobby-host-view-child17,
.desktop-lobby-host-view-child18 {
  position: absolute;
  top: 624px;
  left: 944px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 28px;
  height: 26px;
}
.desktop-lobby-host-view-child18 {
  left: 995px;
}
.desktop-lobby-host-view-child19 {
  position: absolute;
  top: 614.5px;
  left: 983.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 45px;
}
.ggcheck-r-icon6,
.vector-icon6 {
  position: absolute;
  top: 624px;
  left: 945px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon6 {
  left: 996px;
}
.desktop-lobby-host-view-child20,
.desktop-lobby-host-view-child21 {
  position: absolute;
  top: 360px;
  left: 944px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 28px;
  height: 26px;
}
.desktop-lobby-host-view-child21 {
  left: 995px;
}
.desktop-lobby-host-view-child22 {
  position: absolute;
  top: 350.5px;
  left: 983.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 45px;
}
.ggcheck-r-icon7,
.vector-icon7 {
  position: absolute;
  top: 360px;
  left: 945px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon7 {
  left: 996px;
}
.desktop-lobby-host-view-child23,
.desktop-lobby-host-view-child24 {
  position: absolute;
  top: 404px;
  left: 944px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 28px;
  height: 26px;
}
.desktop-lobby-host-view-child24 {
  left: 995px;
}
.desktop-lobby-host-view-child25 {
  position: absolute;
  top: 394.5px;
  left: 983.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 45px;
}
.ggcheck-r-icon8,
.vector-icon8 {
  position: absolute;
  top: 404px;
  left: 945px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon8 {
  left: 996px;
}
.desktop-lobby-host-view-child26,
.desktop-lobby-host-view-child27 {
  position: absolute;
  top: 316px;
  left: 944px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 28px;
  height: 26px;
}
.desktop-lobby-host-view-child27 {
  left: 995px;
}
.desktop-lobby-host-view-child28 {
  position: absolute;
  top: 306.5px;
  left: 983.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 45px;
}
.ggcheck-r-icon9,
.vector-icon9 {
  position: absolute;
  top: 316px;
  left: 945px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon9 {
  left: 996px;
}
.desktop-lobby-host-view-child29,
.desktop-lobby-host-view-child30 {
  position: absolute;
  top: 272px;
  left: 944px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 28px;
  height: 26px;
}
.desktop-lobby-host-view-child30 {
  left: 995px;
}
.desktop-lobby-host-view-child31 {
  position: absolute;
  top: 262.5px;
  left: 983.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 45px;
}
.ggcheck-r-icon10,
.vector-icon10 {
  position: absolute;
  top: 272px;
  left: 945px;
  width: 26px;
  height: 26px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon10 {
  left: 996px;
}
.desktop-lobby-host-view-child32,
.desktop-lobby-host-view-child33 {
  position: absolute;
  top: 69px;
  left: 1329px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 34px;
  height: 34px;
}
.desktop-lobby-host-view-child33 {
  left: 1391px;
}
.desktop-lobby-host-view-child34 {
  position: absolute;
  top: 57.5px;
  left: 1376.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 57px;
}
.ggcheck-r-icon11,
.vector-icon11 {
  position: absolute;
  top: 70px;
  left: 1330px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon11 {
  left: 1392px;
}
.need-at-least {
  margin-bottom: 0;
}
.need-at-least-2-or-more-option {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-2xl);
}
.need-at-least-container {
  position: absolute;
  top: 112px;
  left: 213px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 416px;
  height: 65px;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: rgba(223, 208, 208, 0.24);
  width: 564px;
  height: 93px;
}
.instructions {
  position: absolute;
  top: 11px;
  left: 36px;
}
.need-at-least-container1 {
  position: absolute;
  top: 40px;
  left: 45px;
  display: inline-block;
  width: 416px;
  height: 65px;
}
.rectangle-parent {
  position: absolute;
  top: 72px;
  left: 168px;
  width: 564px;
  height: 105px;
  font-size: var(--font-size-base);
}
.div,
.text,
.text1,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8 {
  position: absolute;
  top: 214px;
  left: 145px;
  display: inline-block;
  width: 27px;
  height: 25px;
}
.div,
.text1,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8 {
  top: 258px;
}
.div,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8 {
  top: 302px;
}
.div,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8 {
  top: 346px;
}
.div,
.text4,
.text5,
.text6,
.text7,
.text8 {
  top: 390px;
}
.div,
.text5,
.text6,
.text7,
.text8 {
  top: 434px;
}
.div,
.text6,
.text7,
.text8 {
  top: 478px;
}
.div,
.text7,
.text8 {
  top: 522px;
}
.div,
.text8 {
  top: 566px;
}
.div {
  top: 604px;
}
.desktop-lobby-host-view {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 700px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-outfit);
}
