body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-outfit: Outfit;

  /* font sizes */
  --font-size-xl: 20px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-gray-100: #111827;
  --color-white: #fff;
  --color-black: #000;
  --color-aliceblue: #ebf1ff;
  --color-dimgray: #6d6c6c;
  --color-sienna: #683333;

  /* Border radiuses */
  --br-21xl: 40px;
  --br-3xs: 10px;
  --br-11xl: 30px;
}
