@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:700,400|Chewy:400|Outfit:500,400,700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}


.desktop-home {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop-home .div {
  background-color: #fafafa;
  overflow: hidden;
  width: 1440px;
  height: 2265px;
  position: relative;
}

.desktop-home .overlap {
  position: absolute;
  width: 1467px;
  height: 1392px;
  top: 819px;
  left: -27px;
}

.desktop-home .features {
  position: absolute;
  width: 1458px;
  height: 673px;
  top: 0;
  left: 9px;
  background-color: #ffffff;
}

.desktop-home .features-2 {
  position: absolute;
  width: 1458px;
  height: 567px;
  top: 53px;
  left: 0;
  background-color: #ffffff;
}

.desktop-home .text-wrapper {
  position: absolute;
  width: 447px;
  top: 68px;
  left: 529px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #253127;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-home .plate {
  left: 274px;
  position: absolute;
  width: 250px;
  height: 300px;
  top: 158px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 7px 15px #00000040;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.35) 0%, rgba(250, 250, 250, 0) 100%);
}

.desktop-home .p {
  position: absolute;
  width: 254px;
  top: 123px;
  left: 0;
  font-family: "Chewy", Helvetica;
  font-weight: 400;
  color: #242f25;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  line-height: normal;
}

.desktop-home .text-wrapper-2 {
  position: absolute;
  width: 193px;
  top: 197px;
  left: 28px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #253127;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-home .image {
  position: absolute;
  width: 63px;
  height: 97px;
  top: 19px;
  left: 94px;
}

.desktop-home .plate-2 {
  left: 934px;
  position: absolute;
  width: 250px;
  height: 300px;
  top: 158px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 7px 15px #00000040;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.35) 0%, rgba(250, 250, 250, 0) 100%);
}

.desktop-home .text-wrapper-3 {
  position: absolute;
  width: 254px;
  top: 129px;
  left: 4px;
  font-family: "Chewy", Helvetica;
  font-weight: 400;
  color: #242f25;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  line-height: normal;
}

.desktop-home .text-wrapper-4 {
  position: absolute;
  width: 204px;
  top: 207px;
  left: 29px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #253127;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-home .img {
  position: absolute;
  width: 115px;
  height: 100px;
  top: 12px;
  left: 73px;
}

.desktop-home .plate-3 {
  left: 604px;
  position: absolute;
  width: 250px;
  height: 300px;
  top: 158px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 7px 15px #00000040;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.35) 0%, rgba(250, 250, 250, 0) 100%);
}

.desktop-home .overlap-group {
  position: absolute;
  width: 254px;
  height: 180px;
  top: 13px;
  left: 0;
}

.desktop-home .image-2 {
  position: absolute;
  width: 132px;
  height: 115px;
  top: 0;
  left: 67px;
}

.desktop-home .text-wrapper-5 {
  position: absolute;
  width: 254px;
  top: 114px;
  left: 0;
  font-family: "Chewy", Helvetica;
  font-weight: 400;
  color: #242f25;
  font-size: 20px;
  text-align: center;
  letter-spacing: 2px;
  line-height: normal;
}

.desktop-home .text-wrapper-6 {
  width: 208px;
  top: 198px;
  left: 23px;
  font-family: "Montserrat", Helvetica;
  color: #253127;
  font-size: 12px;
  text-align: center;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-home .landing-PAGE-ABOUT {
  position: absolute;
  width: 1440px;
  height: 746px;
  top: 646px;
  left: 27px;
  background-color: #fafafa;
}

.desktop-home .overlap-2 {
  position: relative;
  width: 1245px;
  height: 619px;
  top: 50px;
  left: 98px;
  background-color: #d9d9d9;
  border-radius: 50px;
}

.desktop-home .olors {
  position: absolute;
  width: 191px;
  height: 280px;
  top: 324px;
  left: 318px;
}

.desktop-home .group {
  height: 280px;
}

.desktop-home .overlap-group-2 {
  position: relative;
  width: 191px;
  height: 280px;
}

.desktop-home .social-icons {
  position: absolute;
  width: 34px;
  height: 33px;
  top: 247px;
  left: 104px;
}

.desktop-home .group-2 {
  position: absolute;
  width: 191px;
  height: 280px;
  top: 0;
  left: 0;
}

.desktop-home .group-3 {
  position: absolute;
  width: 193px;
  height: 233px;
  top: 0;
  left: 0;
}

.desktop-home .ellipse {
  height: 203px;
  left: 4px;
  position: absolute;
  width: 187px;
  top: 0;
  object-fit: cover;
}

.desktop-home .text-wrapper-7 {
  position: absolute;
  top: 203px;
  left: 0;
  font-family: "Outfit", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-home .social-icons-2 {
  height: 33px;
  top: 247px;
  left: 52px;
  position: absolute;
  width: 34px;
}

.desktop-home .overlap-3 {
  position: absolute;
  width: 596px;
  height: 509px;
  top: 82px;
  left: 525px;
}

.desktop-home .evy {
  position: absolute;
  width: 187px;
  height: 273px;
  top: 0;
  left: 409px;
}

.desktop-home .group-4 {
  position: relative;
  height: 273px;
}

.desktop-home .group-5 {
  position: absolute;
  width: 189px;
  height: 233px;
  top: 0;
  left: 0;
}

.desktop-home .ellipse-2 {
  height: 203px;
  left: 0;
  position: absolute;
  width: 187px;
  top: 0;
  object-fit: cover;
}

.desktop-home .text-wrapper-8 {
  top: 203px;
  left: 9px;
  font-family: "Outfit", Helvetica;
  color: #000000;
  font-size: 24px;
  position: absolute;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-home .social-icons-3 {
  height: 33px;
  top: 241px;
  left: 115px;
  position: absolute;
  width: 34px;
}

.desktop-home .social-icons-4 {
  height: 33px;
  top: 241px;
  left: 63px;
  position: absolute;
  width: 34px;
}

.desktop-home .MJ {
  position: absolute;
  width: 214px;
  height: 273px;
  top: 0;
  left: 0;
}

.desktop-home .ellipse-3 {
  height: 203px;
  left: 13px;
  position: absolute;
  width: 187px;
  top: 0;
  object-fit: cover;
}

.desktop-home .social-icons-5 {
  height: 33px;
  top: 241px;
  left: 123px;
  position: absolute;
  width: 34px;
}

.desktop-home .social-icons-6 {
  height: 33px;
  top: 241px;
  left: 71px;
  position: absolute;
  width: 34px;
}

.desktop-home .tenz {
  position: absolute;
  width: 262px;
  height: 273px;
  top: 235px;
  left: 200px;
}

.desktop-home .group-6 {
  position: absolute;
  width: 264px;
  height: 233px;
  top: 0;
  left: 0;
}

.desktop-home .ellipse-4 {
  height: 203px;
  left: 29px;
  position: absolute;
  width: 187px;
  top: 0;
  object-fit: cover;
}

.desktop-home .social-icons-7 {
  height: 33px;
  top: 241px;
  left: 148px;
  position: absolute;
  width: 34px;
}

.desktop-home .social-icons-8 {
  height: 33px;
  top: 241px;
  left: 96px;
  position: absolute;
  width: 34px;
}

.desktop-home .barips {
  position: absolute;
  width: 253px;
  height: 273px;
  top: 82px;
  left: 59px;
}

.desktop-home .ellipse-5 {
  height: 191px;
  left: 23px;
  position: absolute;
  width: 187px;
  top: 0;
  object-fit: cover;
}

.desktop-home .social-icons-9 {
  height: 31px;
  top: 242px;
  left: 125px;
  position: absolute;
  width: 34px;
}

.desktop-home .social-icons-10 {
  height: 31px;
  top: 242px;
  left: 73px;
  position: absolute;
  width: 34px;
}

.desktop-home .text-wrapper-9 {
  position: absolute;
  top: 13px;
  left: 590px;
  font-family: "Outfit", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-home .text-wrapper-10 {
  position: absolute;
  top: 52px;
  left: 304px;
  font-family: "Outfit", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop-home .header {
  display: flex;
  flex-direction: column;
  width: 1315px;
  height: 52px;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  position: absolute;
  top: 31px;
  left: 12px;
}

.desktop-home .header-2 {
  display: flex;
  width: 1174px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex: 0 0 auto;
}

.desktop-home .logo {
  position: relative;
  width: 200px;
  height: 30px;
  background-color: #111827;
  border-radius: 10px;
}

.desktop-home .chews-wisely {
  position: absolute;
  top: 1px;
  left: 11px;
  font-family: "Outfit", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 3px;
  line-height: normal;
}

.desktop-home .group-7 {
  position: relative;
  width: 63.19px;
  height: 40px;
}

.desktop-home .navigation-menu {
  display: flex;
  width: 489px;
  align-items: flex-start;
  position: relative;
}

.desktop-home .home-item {
  display: flex;
  width: 155px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 20px;
  position: relative;
}

.desktop-home .home {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Outfit", Helvetica;
  font-weight: 500;
  color: #000000a8;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: normal;
}

.desktop-home .about-item {
  display: flex;
  width: 141px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 20px;
  position: relative;
}

.desktop-home .about {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Outfit", Helvetica;
  font-weight: 400;
  color: #111827;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: normal;
}

.desktop-home .about-wrapper {
  display: flex;
  width: 129px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 16px 20px;
  position: relative;
}

.desktop-home .donate {
  position: absolute;
  width: 100px;
  height: 45px;
  top: 4px;
  left: 1114px;
  background-color: #111827;
  border-radius: 60px;
}

.desktop-home .home-2 {
  position: absolute;
  top: 10px;
  left: 18px;
  font-family: "Outfit", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 2.4px;
  line-height: normal;
}

.desktop-home .overlap-4 {
  position: absolute;
  width: 1211px;
  height: 626px;
  top: 83px;
  left: 120px;
}

.desktop-home .landing-page-home {
  position: absolute;
  width: 1211px;
  height: 626px;
  top: 0;
  left: 0;
  background-color: #fafafa;
}

.desktop-home .overlap-5 {
  position: relative;
  width: 1126px;
  height: 562px;
  top: 20px;
  left: 85px;
}

.desktop-home .customize-your {
  position: absolute;
  width: 750px;
  height: 562px;
  top: 0;
  left: 376px;
  object-fit: cover;
}

.desktop-home .text-wrapper-11 {
  position: absolute;
  width: 515px;
  top: 154px;
  left: 0;
  font-family: "Outfit", Helvetica;
  font-weight: 400;
  color: #020202;
  font-size: 38px;
  letter-spacing: 9.5px;
  line-height: 40px;
}

.desktop-home .create-room {
  position: absolute;
  width: 139px;
  height: 49px;
  top: 426px;
  left: 151px;
  background-color: #000000;
  border-radius: 40px;
  overflow: hidden;
}

.desktop-home .text-wrapper-12 {
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #eaf1ff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-home .create-room-wrapper {
  position: absolute;
  width: 117px;
  height: 49px;
  top: 426px;
  left: 343px;
  border-radius: 40px;
  overflow: hidden;
}

.desktop-home .create-room-2 {
  position: absolute;
  top: 15px;
  left: 20px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
