.congratulations,
.topchoice {
  position: absolute;
  display: inline-block;
}
.congratulations {
  top: 209px;
  left: calc(50% - 570px);
  font-size: 50px;
  font-weight: 800;
  color: var(--color-black);
  width: 551px;
  height: 91px;
}
.topchoice {
  top: 10px;
  left: 10px;
  width: 661px;
}
.winner {
  position: absolute;
  top: 318px;
  left: 65px;
  border-radius: var(--br-11xl);
  background-color: #fc0;
  box-shadow: 0 4px 4px #000;
  width: 683px;
  height: 132px;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.chews-wisely {
  position: absolute;
  top: 2px;
  left: 11px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.logo1 {
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-100);
  width: 200px;
  height: 30px;
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-xl);
}
.header-child {
  position: relative;
  width: 63.19px;
  height: 40px;
  object-fit: cover;
  z-index: 1;
}
.home {
  position: relative;
  letter-spacing: 0.15em;
  font-weight: 500;
}
.home-item {
  width: 155px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.66);
}
.about {
  position: relative;
  letter-spacing: 0.15em;
}
.about-item {
  width: 141px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.about1 {
  position: relative;
  letter-spacing: 0.15em;
  white-space: pre-wrap;
}
.about-item1,
.navigation-menu {
  flex-shrink: 0;
  flex-direction: row;
}
.about-item1 {
  width: 129px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.navigation-menu {
  width: 489px;
  display: none;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
  color: var(--color-gray-100);
}
.donate,
.home1 {
  position: absolute;
}
.home1 {
  top: 11px;
  left: 18px;
  letter-spacing: 0.15em;
}
.donate {
  margin: 0 !important;
  top: 4px;
  left: 1114.5px;
  border-radius: var(--br-41xl);
  background-color: var(--color-gray-100);
  width: 100px;
  height: 45px;
  display: none;
  z-index: 3;
}
.header,
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  width: 1174px;
  flex-direction: row;
  position: relative;
  z-index: 0;
}
.logo {
  position: absolute;
  top: 28px;
  left: -140px;
  width: 1516px;
  height: 52px;
  flex-direction: column;
  color: var(--color-white);
}
.winner-name {
  position: absolute;
  top: 384px;
  left: 267px;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
}
.leaderboardgray-child {
  position: absolute;
  margin: 0 !important;
  top: 127px;
  left: 90px;
  width: 520px;
  height: 39px;
  object-fit: cover;
  z-index: 0;
}
.group-icon,
.leaderboardgray-child1,
.leaderboardgray-child2,
.leaderboardgray-inner,
.leaderboardgray-item {
  position: absolute;
  margin: 0 !important;
  top: 177px;
  left: 90px;
  width: 520px;
  height: 39px;
  object-fit: cover;
  z-index: 1;
}
.group-icon,
.leaderboardgray-child1,
.leaderboardgray-child2,
.leaderboardgray-inner {
  top: 227px;
  z-index: 2;
}
.group-icon,
.leaderboardgray-child1,
.leaderboardgray-child2 {
  top: 279px;
  z-index: 3;
}
.leaderboardgray-child1,
.leaderboardgray-child2 {
  top: 327px;
  z-index: 4;
}
.leaderboardgray-child2 {
  top: 377px;
  z-index: 5;
}
.leaderboardgray-child3,
.leaderboardgray-child4,
.leaderboardgray-child5,
.leaderboardgray-child6 {
  position: absolute;
  margin: 0 !important;
  top: 427px;
  left: 90px;
  width: 520px;
  height: 39px;
  object-fit: cover;
  z-index: 6;
}
.leaderboardgray-child4,
.leaderboardgray-child5,
.leaderboardgray-child6 {
  top: 477px;
  z-index: 7;
}
.leaderboardgray-child5,
.leaderboardgray-child6 {
  top: 527px;
  z-index: 8;
}
.leaderboardgray-child6 {
  top: 579px;
  z-index: 9;
}
.group-child,
.pts {
  position: absolute;
  left: 0;
  width: 118.63px;
}
.group-child {
  top: 2px;
  border-radius: var(--br-21xl);
  height: 28.27px;
  object-fit: cover;
}
.pts {
  top: 0;
  display: inline-block;
  height: 19px;
}
.group-div,
.vector-container,
.vector-group,
.vector-parent,
.vector-parent1 {
  position: absolute;
  margin: 0 !important;
  top: 131px;
  left: 97px;
  width: 118.63px;
  height: 30.27px;
  z-index: 10;
}
.group-div,
.vector-container,
.vector-group,
.vector-parent1 {
  top: 582px;
  z-index: 11;
}
.group-div,
.vector-container,
.vector-parent1 {
  top: 531px;
  z-index: 12;
}
.group-div,
.vector-parent1 {
  top: 481px;
  z-index: 13;
}
.vector-parent1 {
  top: 431px;
  z-index: 14;
}
.vector-parent2,
.vector-parent3,
.vector-parent4,
.vector-parent5,
.vector-parent6 {
  position: absolute;
  margin: 0 !important;
  top: 381px;
  left: 97px;
  width: 118.63px;
  height: 30.27px;
  z-index: 15;
}
.vector-parent3,
.vector-parent4,
.vector-parent5,
.vector-parent6 {
  top: 329px;
  z-index: 16;
}
.vector-parent4,
.vector-parent5,
.vector-parent6 {
  top: 283px;
  z-index: 17;
}
.vector-parent5,
.vector-parent6 {
  top: 231px;
  z-index: 18;
}
.vector-parent6 {
  top: 181px;
  z-index: 19;
}
.leaderboardbox,
.leaderboardgray {
  position: absolute;
  top: 639px;
  left: 379px;
  border-radius: var(--br-11xl);
  width: 681px;
  text-align: center;
}
.leaderboardgray {
  background-color: #d9d9d9;
  height: 636px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  gap: 10px;
  mix-blend-mode: darken;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.leaderboardbox {
  background-color: var(--color-black);
  height: 100px;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.display-ranking-with {
  position: absolute;
  top: 776px;
  left: 653px;
  white-space: pre-wrap;
}
.display-ranking-with1,
.display-ranking-with2,
.display-ranking-with3 {
  position: absolute;
  top: 825px;
  left: 653px;
  white-space: pre-wrap;
}
.display-ranking-with2,
.display-ranking-with3 {
  top: 876px;
}
.display-ranking-with3 {
  top: 927px;
}
.display-ranking-with4,
.display-ranking-with5,
.display-ranking-with6 {
  position: absolute;
  top: 974px;
  left: 653px;
  white-space: pre-wrap;
}
.display-ranking-with5,
.display-ranking-with6 {
  top: 1023px;
}
.display-ranking-with6 {
  top: 1074px;
}
.display-ranking-with7,
.display-ranking-with8,
.display-ranking-with9 {
  position: absolute;
  top: 1123px;
  left: 653px;
  white-space: pre-wrap;
}
.display-ranking-with8,
.display-ranking-with9 {
  top: 1174px;
}
.display-ranking-with9 {
  top: 1228px;
}
.create-room {
  position: relative;
}
.home2,
.try-again {
  position: absolute;
  height: 5.47%;
  width: 15.97%;
  border-radius: var(--br-21xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
.try-again {
  top: 25.26%;
  right: 7.08%;
  bottom: 69.27%;
  left: 76.94%;
  background-color: var(--color-black);
}
.home2 {
  top: 25.29%;
  right: 26.39%;
  bottom: 69.24%;
  left: 57.64%;
  background-color: rgba(0, 0, 0, 0.45);
}
.desktop-winner-host {
  position: relative;
  background-color: #fafafa;
  width: 100%;
  height: 1400px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
  font-family: var(--font-outfit);
}
